body {  
    margin: 0px;
    font-family: 'Montserrat' !important ;
}  

.logos {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

#info {
    width: 100%;
    text-align: center;
    height: 100vh;

    background-image:url("IMG_1468.JPG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#infoblock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
}
.intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}
.icons {
    display: inline-flex;
    padding-top: 15px;
}


#aboutContDiv {
    background-color: cornsilk;
    
}

.block {
    padding-bottom: 40px;
    padding-top: 40px;
}

#aboutMe {
    text-align: center;
    
}

#photo {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#introDiv{
    position: relative;
    height: 375px;
}

#introDivBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#skillsDiv {
    background-color: cornsilk;
}

.title {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

#introText {
    text-align: left;
    font-weight: lighter;
    padding-bottom: 20px;
}

.titleBlock {
    padding-bottom: 40px;
}

#skillDesc {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

#eduImgBlock {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#eduImg {
    height: 120px;
    width: 120px;
}

#degree {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

#uni {
    font-style: italic;
    font-family: 'Crimson Pro';
    font-size: 20px;
}

#uniBP {
    padding-top: 10px;
}

#contactDiv {
    background-color: cornsilk;
}

#contactInfo {
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

#copyright {
    font-size: 12px;
}